node_modules/
/.pnp
.pnp.js
/coverage
/.next/
/out/
/build
/dist
/target
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env*.local
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
rascunho.txt
docker/data/
postgres_primary_data/
postgres_replica_data/
redis_data/
elasticsearch_data/
rabbitmq_data/
*.class
*.jar
*.war
*.ear
.mvn/timing.properties
AGENTS.md
DESIGN.md
prompt.md